<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <header th:insert="fragments.html :: header" ></header>
  <div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <aside th:insert="fragments.html :: aside"></aside> 
    </div>
    <div class="col-9">
      <!-- content -->
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Income</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="company:${companies}">
            <td th:text="${company.id}"></td>
            <td th:text="${company.name}"></td>
            <td th:text="${company.income}"></td>
            <td><a class="btn btn-primary" th:href="@{/company/edit/{id}(id=${company.id})}">Edit</a></td>
            <td><a class="btn btn-warning" th:href="@{/company/delete/{id}(id=${company.id})}">Delete</a></td>
            
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-md-center">
          <div class="col col-lg-2">
            <a class="btn btn-primary position-relative"
            th:href="@{/company/add}">Add Company</a>
          </div>
          <div class="col-md-auto">
            <a class="btn btn-primary position-relative"
            th:href="@{/company/sort/by-name}">Sort By Name</a>
          </div>
          <div class="col col-lg-2">
            <a class="btn btn-primary position-relative"
            th:href="@{/company/sort/by-income}">Sort By Income</a>
          </div>
      </div>
    </div>
  </div>    
</body>

</html>